body {
    margin: 60px auto;
    width: 70%;
    border-top: 1px solid #d5d5d5;
}
nav ul, footer ul {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #3498DB;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2em;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
p {
    font-size: 1.2em;
    line-height: 0.9em;
    color: #333;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.2em;
}

ul.posts li {
    list-style: none;
}
