body {
    margin: 60px auto;
    width: 70%;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
}
nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #3498DB;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 24px;
}

footer {
    font-size: 12px;
}
ul.posts { 
    margin: 20px auto 40px; 
    font-size: 16px;
}

ul.posts li {
    list-style: none;
}
ul.posts li {
    list-style: none;
}
