body {
    margin: 60px auto;
    width: auto;
    color: #333;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.2;
}

p {
  font-size: 120%;
}

h1 {
  font-size: 250%;
}

h2 {
  font-size: 200%;
}

h3 {
  font-size: 150%;
}

ul, ol {
    font-size: 120%;
}

a {
    text-decoration: none;
    color: #3498DB;
}
a:hover {
    text-decoration: underline;
}

footer {
    font-size: 75%;
}
