<!DOCTYPE html>
	<html lang="en-GB">
		<head>
			<meta charset=”utf-8″>
			<title>{{ page.title }}</title>
			<meta name=”description” content=”Website for Scott Colfer, Product Manager.”>
			<meta name=”keywords” content=”scott colfer,product, product manager”>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="https://github.com/scottcolfer/">github.com/scottcolfer</a></li>
	        		<li><a href="https://twitter.com/scottcolfer/">twitter.com/scottcolfer</a></li>
	        		<li><a href="https://uk.linkedin.com/in/scottcolfer/">linkedin.com/in/scottcolfer</a></li>
	        		<li><a href="http://scottcolfer.github.io/blog/atom.xml">RSS</a></li>
				</ul>
			</footer>
		</body>
	</html>
